namespace Veluxe.Views.Confirm
@model Veluxe.Models.OrderModel;

@{
    ViewData["Title"] = "Confirm";
}

<link rel="stylesheet" href="~/css/confirm.css" />

<section class="confirm-section">
    <div class="confirm-box">
        <p class="name">V E L U X E</p>
        <h2>THANK YOU!</h2>
        <p>
            Hi @Model.first_name, your order has been successfully placed.
            Your Order Number is <strong>#1@Model.order_id</strong>.
        We’ll send you a confirmation email with the order details shortly.
        You can track your order status anytime from your <a href="/Profile/Profile" class="profile-link">Profile</a>.</p>
        <p>Happy Shopping!</p>
        <a href="/Home/Index" class="continue-shopping-btn">Continue Shopping</a>
    </div>
</section>