@{
    ViewData["Title"] = "Manage Products";
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/css/adminProduct.css" />

<div class="manage-products">
    <h2>Manage Products</h2>

    <a href="#" class="add-btn">+ Add New Product</a>

    <table class="product-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Black Jacket</td>
                <td>Clothing</td>
                <td>Rs. 3,200</td>
                <td>25</td>
                <td>
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                </td>
            </tr>

            <tr>
                <td>White Heels</td>
                <td>Shoes</td>
                <td>Rs. 2,500</td>
                <td>10</td>
                <td>
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
