@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/css/adminDashboard.css"  />

<h1>Welcome back, Name!</h1>
<p>Here's what happening with your store today.</p>
<div class="stats-container">
    <div class="stat-box">
        <h6>Total Sales</h6>
        <img src="~/assets/dollar.jpg" />
        <h4>$25,024</h4>
    </div>
    <div class="stat-box">
        <h6>Orders</h6>
        <img src="~/assets/orders.png" />
        <h4>150</h4>
    </div>
    <div class="stat-box">
        <h6>Users</h6>
        <img src="~/assets/user.jpg" />
        <h4>320</h4>
    </div>
    <div class="stat-box">
        <h6>Products</h6>
        <img src="~/assets/bag.jpg" />
        <h4>320</h4>
    </div>

</div>

<div class="graphs">
    <div class="bar-graph">
        <img src="~/assets/bar.jpg" />
    </div>

    <div class="line-graph">
        <img src="~/assets/line.jpg" />
    </div>
</div>

