@* This is the site navigation bar *@
<nav class="navbar">
    <div class="left-links">
        <a href="/Home/Index">Home</a>
        <a href="/Category/Category">Categories</a>
         <a href="/Product/Product">Products</a>
         <a href="#">About</a>
    </div>
    <a href="/Home/Index" class="brand">V E L U X E</a>
    <div class="right-links">
        <a href="/Cart/Cart" class="nav-icon">
            <img src="~/assets/cart.png" alt="Cart" class="cart-img">
        </a>
        <a href="/Profile/Profile" class="nav-icon">
            <img src="~/assets/profile.png" alt="Profile" class="profile-img">
        </a>
    </div>
</nav>
