@* This is the site navigation bar *@
<nav class="navbar">
    <div class="left-links">
        <a href="/Home/Index">Home</a>
        <a href="/Home/Category">Categories</a>
         <a href="/Home/Products">Products</a>
         <a href="#">About</a>
    </div>
    <a href="#" class="brand">V E L U X E</a>
    <div class="right-links">
        <a href="#">Cart</a>
        <a href="#">Login</a>
    </div>
</nav>
