@model Veluxe.Models.UserModel

@{
    ViewData["Title"] = "Delete User";
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="~/css/adminCRUD.css" />

<h2 class="text-danger">Delete User</h2>
<hr />

<div class="container-section">
    <div class="section">
        <h4>Are you sure you want to delete this user?</h4>
        <br />

        <dl class="row">
            <dt>User ID</dt>
            <dd>@Model.user_id</dd>

            <dt>Name</dt>
            <dd>@Model.name</dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="user_id" />

            <button type="submit">Delete</button>
            <a asp-action="AdminUser">Cancel</a>
        </form>
    </div>
</div>

