namespace Veluxe.Views.Home

@{
    ViewData["Title"] = "ProductDesc";
}

<link rel="stylesheet" href="~/css/productDesc.css" />

<section class="product-section">
    <img src="~/assets/img-placeholder.jpg"  class="product-img"/>

    <div class="product-details">
    <h4>PRODUCT TITLE</h4>
    <h5>Price</h5>
    <p>paragraph</p>
    <button class="add-to-cart-btn">Add to Cart</button>
    </div>



</section>