namespace Veluxe.Views.Home

@{
    ViewData["Title"] = "Category";
}

<link rel="stylesheet" href="~/css/category.css" />

<section class="categories-section">

    <h4>Clothing</h4>

    <div class="categories-container">
        <a href="#" class="categories-box">
            <h3>Just Debuted</h3>
            <img src="~/assets/img-placeholder.jpg" alt="Just Debuted">
            <h3></h3>
        </a>

        <a href="#" class="categories-box">
            <h3>Best of Fall</h3>
            <img src="~/assets/img-placeholder.jpg" alt="Best of Fall">
            <h3></h3>
        </a>

        <a href="#" class="categories-box">
            <h3>The Evening Edit</h3>
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
            <h3></h3>
        </a>

        <a href="#" class="categories-box">
            <h3>The Evening Edit</h3>
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
            <h3></h3>
        </a>
    </div>
</section>

<section class="categories-section">
    <h4>Shoes</h4>

    <div class="categories-container">
        <a href="#" class="categories-box">
            <h3>Just Debuted</h3>
            <img src="~/assets/img-placeholder.jpg" alt="Just Debuted">
        </a>

        <a href="#" class="categories-box">
            <h3>Best of Fall</h3>
            <img src="~/assets/img-placeholder.jpg" alt="Best of Fall">
        </a>

        <a href="#" class="categories-box">
            <h3>The Evening Edit</h3>
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
        </a>

        <a href="#" class="categories-box">
            <h3>The Evening Edit</h3>
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
        </a>
    </div>
</section>

<section class="categories-section">
    <h4>Beauty</h4>

    <div class="categories-container">
        <a href="#" class="categories-box">
            <h3>Just Debuted</h3>
            <img src="~/assets/img-placeholder.jpg" alt="Just Debuted">
        </a>

        <a href="#" class="categories-box">
            <h3>Best of Fall</h3>
            <img src="~/assets/img-placeholder.jpg" alt="Best of Fall">
        </a>

        <a href="#" class="categories-box">
            <h3>The Evening Edit</h3>
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
        </a>

        <a href="#" class="categories-box">
            <h3>The Evening Edit</h3>
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
        </a>
    </div>
</section>
