@model IEnumerable<Veluxe.Models.CategoryModel>
namespace Veluxe.Views.Home

@{
    ViewData["Title"] = "Category";
}

<link rel="stylesheet" href="~/css/category.css" />

<section class="categories-section">

    <h4>Clothing</h4>

    <div class="categories-container">
        @foreach (var category in Model)
        {
            <a href="/Product/Product" class="categories-box">
            <h3>@category.category_name</h3>
            <img src="~/assets/@category.image_url" alt="@category.category_name">
            <h3></h3>
            </a>
        }   
    </div>
</section>
