namespace Veluxe.Views.Home

@{
    ViewData["Title"] = "Product";
}

<link rel="stylesheet" href="~/css/products.css" />

<section class="categories-section">
    <h4>Clothing</h4>

    <div class="categories-container">
        <a href="/ProductDesc/ProductDesc" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="Just Debuted">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>

        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="Best of Fall">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>

        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>

        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>
    </div>
</section>

<section class="categories-section">
    <h4>Shoes</h4>

    <div class="categories-container">
        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="Just Debuted">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>

        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="Best of Fall">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>

        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>

        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>
    </div>
</section>

<section class="categories-section">
    <h4>Beauty</h4>

    <div class="categories-container">
        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="Just Debuted">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>

        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="Best of Fall">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>

        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>

        <a href="#" class="categories-box">
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
            <div class="product-info">
                <h4>Product Name</h4>
                <p>Price</p>
            </div>
        </a>
    </div>
</section>

