@model IEnumerable<Veluxe.Models.ProductModel>

namespace Veluxe.Views.Home

@{
    ViewData["Title"] = "Product";
}

<link rel="stylesheet" href="~/css/products.css" />

<section class="categories-section">
    <h4>Clothing</h4>

    <div class="categories-container">
        @foreach (var product in Model)
        {
            <a class="categories-box" asp-controller="ProductDesc" asp-action="ProductDesc" asp-route-productId="@product.product_id">
                <img src="~/assets/@product.image_url" alt="@product.product_name">
                <div class="product-info">
                    <h4>@product.product_name</h4>
                    <p>@product.price</p>
                </div>
            </a>
        }
    </div>
</section>

