@{
    ViewData["Title"] = "Categories";
}

<section class="categories-section">
    <h2>Experience Elegance</h2>

    <div class="categories-container">
        <a href="#" class="categories-box">
            <h3>Just Debuted</h3>
            <img src="~/assets/new.jpg" alt="Just Debuted">
            <h3></h3>
        </a>

        <a href="#" class="categories-box">
            <h3>Best of Fall</h3>
            <img src="~/assets/best of fall.jpg" alt="Best of Fall">
            <h3></h3>
        </a>



        <a href="#" class="categories-box">
            <h3>The Evening Edit</h3>
            <img src="~/assets/party.jpg" alt="The Evening Edits">
            <h3></h3>
        </a>
    </div>
</section>
