@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="veluxe">
    <img src="~/assets/Veluxee.png" class="veluxe-img" alt="Veluxe" />
    <div class="veluxe-overlay">
        <div class="veluxe-text">
            <h1>VELUXE</h1>
            <p>Discover Luxury Redefined</p>
            <a href="#" class="veluxe-button">Shop Now</a>
        </div>
    </div>
</div>

<section class="categories-section1">
    <h2>Experience Elegance</h2>

    <div class="categories-container">
        <a href="#" class="categories-box">
            <h3>Just Debuted</h3>
            <img src="~/assets/img-placeholder.jpg" alt="Just Debuted">
            <h3></h3>
        </a>

        <a href="#" class="categories-box">
            <h3>Best of Fall</h3>
            <img src="~/assets/img-placeholder.jpg" alt="Best of Fall">
            <h3></h3>
        </a>
    

   
        <a href="#" class="categories-box">
            <h3>The Evening Edit</h3>
            <img src="~/assets/img-placeholder.jpg" alt="The Evening Edits">
            <h3></h3>
        </a>
    </div>

    <a href="#" class="explore">Discover More</a>

</section>

