
.checkout-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    background-color: #fafaf7;
    margin-top: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .checkout-section button {
        display: inline-block;
        margin-top: 20px;
        padding: 12px 30px;
        background-color: #c97f08;
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        border-radius: 8px;
        transition: 0.3s;
    }

        .checkout-section button:hover {
            color: black;
            transform: scale(1.1);
        }


.billing-left, .billing-right {
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    padding: 30px;
    border: 2px solid #ddd;
}

.billing-left{
    width: 500px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}
.billing-right{
    flex: 1;
    max-width: 500px;
    margin-right: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        font-weight: 300;
        margin-bottom: 5px;
        color: #333;
    }

    .form-group input {
        width: 100%;
        padding: 10px 12px;
        border:none;
        border-bottom: 1.5px solid #ccc;
        outline: none;
        transition: 0.2s;
    }

        .form-group input:focus {
            border-color: black;
            box-shadow: 0 0 5px rgba(75,108,183,0.2);
        }

.form-row {
    display: flex;
    gap: 15px;
}

    .form-row .half {
        flex: 1;
    }


.form-title {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
}
    .order-table th {
        padding: 12px 20px;
        text-align: left;
        font-weight: 400;
        font-size: 22px;
    }

    .order-table td {
        padding: 12px 20px;
        text-align: left;
        font-weight: 200;
        font-size: 20px;
    }