.confirm-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #fafaf7;
    margin-top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.confirm-box {
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    padding: 30px;
    border: 2px solid #c97f08;
    width: 600px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
}

    .confirm-box h2{
        font-weight: bold;
    }

    .confirm-box p {
        font-size: 18px;
        text-align: center;
    }

.name {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    align-items: center;
    padding: 6px 8px;
    margin: -55px 0px 60px 20px;
}

.profile-link{
    text-decoration: none;
    color: black;
}

.continue-shopping-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #c97f08;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

    .continue-shopping-btn:hover {
        color: black;
        transform: scale(1.1);
    }
