html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.auth-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #fafaf7;
    margin: 0px;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
}

.auth-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

    .auth-left img {
        margin-top: -15px;
        width: 600px;
        height: 700px;
        box-shadow: 0 4px 20px rgb(0 0 0);
    }

.auth-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.auth-box {
    width: 350px;
    padding: 30px;
    background: white;
    border: 2px solid black;
}

    .auth-box h2 {
        margin-bottom: 20px;
        text-align: center;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 2px solid black;
        outline: none;
    }

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 10px;
}

    button:hover {
        opacity: 0.8;
    }

.switch-text {
    margin-top: 10px;
    text-align: center;
}

    .switch-text a {
        color: black;
        font-weight: bold;
    }
