.categories-section {
    text-align: center;
    padding: 150px 20px 60px;
    margin: -80px;
    background-color: #fafaf7;
}

    .categories-section:not(:last-child) {
        margin-bottom: -210px;
    }

    .categories-section h2 {
        font-size: 28px;
        margin-bottom: 40px;
        font-weight: bold;
        color: #222;
    }

.categories-container {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    .categories-box {
        background-color: #fafaf7;
        border: none;
        text-decoration: none;
        color: inherit;
        border-radius: 6px;
        width: 280px;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: inline-block;
        position: relative;
        z-index: 10;
        flex-shrink: 0;
        scroll-snap-align: start;
    }

        .categories-box:hover {
            transform: translateY(-5px);
            box-shadow: 0 16px 15px rgba(0,0,0,0.15);
        }

        .categories-box img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            margin-bottom: 15px;
        }

        .categories-box h3 {
            margin-bottom: 18px;
            font-weight: bold;
            font-size: 18px;
            color: #333;
            text-decoration: none;
        }

        .categories-box p {
            font-size: 15px;
            color: #555;
            margin-bottom: 8px;
        }
}

.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .product-info h4 {
        color: white;
        font-weight: 200;
        font-size: 30px;
    }

    .product-info h6 {
        color: white;
        font-weight: 200;
        font-size: 20px;
    }

.categories-box:hover .product-info {
    opacity: 1;
}
