.profile-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    background-color: #fafaf7;
    margin-top: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-left, .profile-right {
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    padding: 30px;
}

.profile-left {
    width: 500px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 525px;
}

.profile-right {
    flex: 1;
    max-width: 500px;
    margin-right: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid black;
}

.user-name {
    margin: 0;
    font-size: 27px;
    font-weight: bold;
}

.user-email {
    margin: 5px 0 20px 0;
    color: #666;
    font-size: 16px;
}

.profile-left h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: black;
    text-decoration: underline;
    font-size: 18px;
}

.profile-left p {
    margin: 3px 0;
    font-size: 18px;
    color: #333;
}

.edit-profile-btn,
.logout-btn {
    padding: 0px 5px;
    margin: 10px 5px 0 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.edit-profile-btn {
    background-color: black;
    color: white;
    border: groove black;
}

    .edit-profile-btn:hover {
        background-color: white;
        color: black;
    }

.logout-btn {
    background-color: black;
    color: white;
    border: groove black;
}

    .logout-btn:hover {
        background-color: white;
        color: black
    }

/* Responsive */
@media (max-width: 800px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-left, .profile-right {
        width: 90%;
    }
}

.panel {
    padding: 10px 15px;
    background-color: white;
    border-left: 1px solid black;
    margin-top: 5px;
    font-size: 18px;
}

    /* Panel items */
    .panel p {
        margin: 5px 0;
        padding: 5px 0;
        border-bottom: 1px solid black;

    }

        .panel p:last-child {
            border-bottom: none;
        }


