html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

main {
    margin-bottom: 30px;
}


html {
  position: relative;
  height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fafaf7;
    height: 100%;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
}

.navbar {
    position: fixed;
    background-color: #fafaf7;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    height: 80px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-size: 17px;
    z-index: 1000;
}

.navbar a {
    color: #0f0f0f;
    padding: 6px 12px;
    border: 1px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.navbar a:hover {
    color: #005fa3;
}

.brand {
    font-size: 28px; 
    font-weight: bold; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none; 
    align-items: center;
    padding: 6px 8px;
    margin-right: 220px;
}

.left-links, .right-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.veluxe {
    position: relative;
    width: 100%;
    height: 500px;
    margin-left: -87px;
}

.veluxe-img {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    display: block;
}

.veluxe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.veluxe-text {
    text-align: center;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
}

.veluxe-text h1{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}

.veluxe-text p{
    font-size: 25px;
}

.veluxe-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #c97f08;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.veluxe-button:hover {
    color: black;
    transform: scale(1.1);
}

.categories-section1 {
    text-align: center;
    padding: 150px 20px 60px;
    margin-top: 20px;
    background-color: #fafaf7;
}

.categories-section {
    text-align: center;
    padding: 150px 20px 60px;
    margin: -80px;
    background-color: #fafaf7;
}

.categories-section:not(:last-child) {
    margin-bottom: -210px;
}

.categories-section h2 {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #222;
}

.categories-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 20px;

    .categories-box {
        background-color: #fafaf7;
        border: none;
        text-decoration: none;
        color: inherit;
        border-radius: 6px;
        width: 280px;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: inline-block;
    }

        .categories-box:hover {
            transform: translateY(-5px);
            box-shadow: 0 16px 15px rgba(0,0,0,0.15);
        }

        .categories-box img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            margin-bottom: 15px;
        }

        .categories-box h3 {
            margin-bottom: 18px;
            font-weight: bold;
            font-size: 18px;
            color: #333;
            text-decoration: none;
        }

        .categories-box p {
            font-size: 15px;
            color: #555;
            margin-bottom: 8px;
        }
}

.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.categories-box:hover .product-info {
    opacity: 1;
}


.explore {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    width: 220px;
}

.explore:hover {
    color: white;
    transform: scale(1.1);
}