html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

main {
    margin-bottom: 30px;
}


html {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin-bottom: 60px;
    background-color: #fafaf7;
    height: 100%;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
}

.navbar {
    position: fixed;
    background-color: #fafaf7;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    height: 80px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-size: 17px;
    z-index: 1000;
}

.navbar a {
    color: #0f0f0f;
    padding: 6px 12px;
    border: 1px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.navbar a:hover {
    color: #005fa3;
}

.brand {
    font-size: 28px; 
    font-weight: bold; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none; 
    align-items: center;
    padding: 6px 8px;
    margin-right: 220px;
}

.left-links, .right-links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0px 5px;
}

.nav-icon {
    display: flex;
    margin-top: -5px;
}

.cart-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: -35px;
}

.profile-img {
    height: 70px;
    width: 70px;
    margin-right: 3px;
}